@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    font-weight: bold;
    text-align: center;
}

@mixin default-type {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}