/* Set Backgroung-Colors variable */

$bg-color: linear-gradient(to top right, #55B7FF, #7E5AFF);
$bg-org1-color: #55B7FF;
$bg-org2-color: #7E5AFF;
$bg-sub1-color: linear-gradient(to right, #3C7FD4, #24CCFA);
$bg-sub2-color: linear-gradient(to right, #55B7FF, #7E5AFF);

/* Set Text-colors variable */

$txt1-color: #FFFFFF;
$txt2-color: #2C4058;
$txt3-color: #000000;
$txt4-color: #55B7FF;

/* Fonts Setting */

$font-sm: 'Source Sans Pro',
sans-serif;
$font-main: 'Montserrat',
sans-serif;
$font-xs: 'Open Sans',
sans-serif;